$max-height: 50px;
$background-color:#333;
.na{
    height: $max-height;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    background-color: $background-color;
    .logo{
        margin: 0 25px ;
        height: $max-height;
        float: left;
    }
    &_content{
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    li{
        float: left;
        text-align: center;
        width: 14%;
        cursor: pointer;
        a{
            display: block;
            padding: 15.2px;
            color: #fff;
            background-color: $background-color;
            &:hover{
                background-color: #000;
            }
        }

    }
    
}
@mixin responsive {
    .na_content{
        li{
            float: none;
            margin: 0;
        }
        .logo{
            float:none;
            margin: 0;
        }
    }
}
@media screen and (max-width:930px){
    @include responsive();
    
}