$max-height: 50px;
$background-color:#333;
.na{
    height: $max-height;
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    background-color: $background-color;
    &_content{
        display: flex;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    li{
        float: left;
        text-align: center;
        width: 100%;
        cursor: pointer;
        a{
            text-decoration: none;
            display: block;
            padding: 15.2px;
            color: #fff;
            background-color: $background-color;
            &:hover{
                background-color: #000;
            }
        }
        .logo{
            margin: 0 auto;
            height: $max-height;
            cursor: pointer;
            display: block;
        }
    }
    .icon{
        display: none;
        background-image: url(../../assets/icon/hambuger.png);
        content:'';
        width: 50px;
        height: 50px;
        background-color: $background-color;
        background-repeat: no-repeat;
    }
    
}
@mixin responsive {
    .na_content{
        flex-wrap: wrap;
        a:not(:first-child){
            display: none;
        }
    }
    .na{
        .icon{
            float: right;
            display: block;
        }
        .responsive{
            position: relative;
            .icon{
                position: absolute;
                right: 0;
                top: 0;
            }
            a{
                text-align: left;
            }
            .logo{
                position: absolute;
                left:0;
                top: 0;
            }
        }
    }
}
@media screen and (max-width:1039px){
    @include responsive();
    
}