<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<app-popup-chat></app-popup-chat>
<div class="footer">
    <app-footer header="Chấp nhận thanh toán" container="
    Chuyển khoản ngân hàng

    Visa, Master Card

    Thanh toán khi nhận hàng
    "></app-footer>
    <app-footer header="Hỗ trợ khách hàng" container="
    Hướng dẫn mua hàng

    Hình thức thanh toán

    Giao hàng & trả hàng

    Quản lý đơn hàng

    Chính sách Bảo hành
    "></app-footer>
    <app-footer header="Shop W trên" img=true></app-footer>
</div>
