
.a-btn{
    cursor: pointer;
    display: inline-flex;
    width: 300px;
    height: 50px;
    align-items : center;
    justify-content: center;
    color :white;
    font-size : 1.2vw;
    border: none;
    background-color: #4563a5;
    border-radius: 4px;
    &--facebook{
        justify-content: flex-start;
        &::before{
            content:"";
            background-image: url(../../assets/icon/facebook.png);
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            border-radius: 8px 0 0 8px; 
            margin-right: 50px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        &:hover{
            background-color: #3b5998;
        }

    }
    &--gift{
        justify-content: flex-start;
        &::before{
            content:"";
            background-image: url(../../assets/icon/gift.png) ;
            width: 50px;
            height: 50px;
            margin-right: 50px ;
            background-repeat: no-repeat;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }
        &:hover{
            background-color: #3b5998;
        }
    }
    &--buy{
        background-color: red;
        color: white;
        margin:  30px 0; 
        width: 150px;
        &:hover{
            background-color: rgb(156, 50, 50);
        }
    }
    &--slide{
        background-color: #CCC;
        width: 50px;
        border-radius: 0px;
        margin: 10px;
        &--left{
            position: absolute;
            left: .5%;
            top: 40%;
            &:hover{
                background-color: #BBB;
            }
        }
        &--right{
            position: absolute;
            top: 40%;
            left: 94%;
            &:hover{
                background-color: #BBB;
            }
        }
    }
    &--link{
      margin-right: 5px;
      background-color: #EEE;
      color: #000;
      border-radius: 8px 8px 0 0;
      width: 200px;
      &:hover{
          color: #EEE;
          background-color: #000;
      }

    }
    &--popup-chat{
        background-color: green;
        border-radius: 8px 8px 0 0;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 10px;
    }
}
.selected{
    border-bottom: 3px solid #000; 
}