.detail-product{
    display: inline-flex;
    justify-content: space-around;
    margin: 40px;
    border: 1px solid #efefef;
    .info{
        h2{
            color: red;
        }
        .quantity-box{
            display: inline-block;
            margin: 10px;
            .input-text{
                width: 40px;
                height: 39px;
                font-size: 1em;
                text-align: center;
                background-color: transparent;
                border: 1px solid #efefef;
            }
        }
    }
    .zoom{
        width: 40%;
        background-position: 50% 50%;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin: 0 50px 80px;
        img{
            width: 100%;    
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: opacity 0.5s;
            display: block;
            &:hover{
                // opacity: 0;
                transform: scale(1.5,1.5);
                -webkit-transform: scale(1.5,1.5);
                -moz-transform: scale(1.5,1.5);
                -o-transform: scale(1.5,1.5);
                -ms-transform: scale(1.5,1.5);
            }
    
        }
    }
    
    .show-button{
        margin: 0;
    }
}