<app-button btnType="popup-chat" (click)="controlForm()">Hỗ trợ trực tuyến</app-button>
<div class="chat-popup" *ngIf="open === true">
  <form class="form-container">
    <div class="header">Hỗ trợ trực tuyến
      <div class="icon" (click)="controlForm()"></div>
    </div>
    <div class="content-mes"></div>
    <div class="send">
      <input placeholder="Type message.." name="msg" required/>
      <app-button  size="medium" type="submit" class="btn">Send</app-button>
    </div>
  </form>
</div>
